[title] {
    color: red;
}

[title="portfolio"] {
    color: rosybrown;
}

[title~="o-mnie"] {
    background-color: royalblue;
}

[title*="o-mnie"] {
    color: greenyellow;
}

[title^="wiecej"] {
    font-size: 23px;
}

[title$="wiecej"] {
    font-size: 50px;
    font-family: cursive;
}